# Build output
/bin
/obj

# Golang workspace
/vendor

# Executable file
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary, built with 'go test'
*.test

# Dependency directories (Go modules)
go.sum
go.mod

# IDE/Editor files
.idea/
.vscode/

# OS-specific files
.DS_Store
Thumbs.db

# Log files
*.log

# Other files
*.bak
*.swp
